html {
  overflow-x: hidden;
}
.main-nickname-desc {
  margin-top: 72px;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #000000;
}
.main-btns {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 6px 10px;
  background: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 50px;
  width: 500px;
  height: 60px;
  margin: 48px auto 0px auto;
}
.habbit-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 54px;
  gap: 8px;
  width: 240px;
  height: 48px;
  background: #937cf1;
  border-radius: 50px;
  flex: none;
  order: 0;
  flex-grow: 0;
  border: 1px solid #937cf1;
  color: white;
}
.remind {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 54px;
  gap: 8px;
  width: 240px;
  height: 48px;
  border-radius: 50px;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #888888;
  border: none;
  background-color: white;
}
.main-card {
  display: flex;
  justify-content: center;
  margin-top: 66px;
}
.main-card-calendar {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-top: 42px;
}
a {
  text-decoration: none;
}
