.nav-header {
  display: flex;
  width: 100%;
  justify-content: center;
  border-bottom: 2px solid #dbdbdb;
  box-sizing: border-box;
  padding: 10px 40px;
}
.nav-header__menu {
}
a {
  text-decoration: none;
}
.nav-header__column {
  display: flex;
  width: 33%;
  align-items: center;
}
.nav-header__column2 {
  display: flex;
  width: 33%;
  align-items: center;
}

.nav-header__column:first-child {
  margin-right: 5px;
}
.nav-header__column:nth-child(2) {
  display: flex;
  justify-content: space-between;
}

.nav-header__column:nth-child(3) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.inner-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  text-align: center;
}

/* 컨테이너 설정 */

/* 툴팁 기본 스타일 설정 시작 */

.tooltip {
  position: relative;
  display: block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* 툴팁 기본 스타일 설정 끝 */

/* -------------------------- */

/* 툴팁 화살표 기본 스타일 설정 시작 */

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  border-style: solid;
  border-width: 5px;
}

/* 툴팁 화살표 기본 스타일 설정 끝 */

/* -------------------------- */

/* 툴팁 방향 설정 시작 */

/* 왼쪽 툴팁 시작 */

.tooltip .tooltip-left {
  top: -5px;
  right: 70%;
}

.tooltip .tooltip-left::after {
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-color: transparent transparent transparent black;
}

/* 왼쪽 툴팁 끝 */
